body{
    background-color: rgb(1, 13, 36);
}
.container{
    text-align: center;
    border-radius: 10px !important;
    
    
}
#formTem{
    background-color: rgb(2, 88, 145);
    display: inline-block;
    padding: 20px;
    padding-bottom: 40px;
}
h3{
    color: aliceblue;

}
#submitBtn{
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 5px;
}